node_modules/
venv/
__pycache__/
*.pyc
.env
backend/.env
frontend/.env
.token.txt
*.log
frontend/build/
dist/
coverage/
.DS_Store
frontend/node_modules/.cache/default-development/2.pack
frontend/node_modules/.cache/default-development/0.pack
.env.*
*.env
credentials.json
*.pem
*.key
.credentials
frontend/node_modules/.cache/default-development/5.pack
frontend/node_modules/.cache/default-development/8.pack
frontend/node_modules/.cache/default-development/7.pack
frontend/node_modules/.cache/default-development/6.pack
frontend/node_modules/.cache/default-development/9.pack
frontend/node_modules/.cache/default-development/12.pack
frontend/node_modules/.cache/default-development/1.pack
